Authlib==1.0.1
dynaconf==3.1.9
Flask==2.1.2
Flask-Cors==3.0.10
Flask-Login==0.6.2
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
google-api-python-client==2.55.0
google-auth-oauthlib==0.5.2
gunicorn==20.1.0
mysql==0.0.3
mysql-connector-python==8.0.28
numpy==1.23.1
python-dateutil==2.8.2
pytz==2022.1
scikit-learn==1.1.1
torch==1.12.0
transformers==4.21.0
ua-parser==0.15.0
